<div class="panel panel-info">
    <div class="panel-heading">
        <div data-ng-hide="editing">
            {{ note.title }}
            <a class="edit-note" href="" data-ng-click="edit()">
                <span class="glyphicon glyphicon-pencil"></span>
            </a>
        </div>
        <div data-ng-show="editing">
            <input type="text" class="form-control" data-ng-model="editNoteCopy.title" data-ng-disabled="working">
        </div>
    </div>
    <div class="panel-body">
        <div data-ng-hide="editing">{{ note.content }}</div>
        <textarea class="form-control" rows="6" data-ng-disabled="working" data-ng-show="editing"
                  data-ng-model="editNoteCopy.content"></textarea>
    </div>
    <div class="panel-footer note-footer">
        <div data-ng-show="working && !errorOccurred" class="note-footer-center-info">Working...</div>
        <div data-ng-show="errorOccurred" class="note-footer-center-info err-text">ERROR</div>
        <button type="button" class="btn btn-danger note-right-align-btn" data-ng-disabled="working"
                data-ng-click="deleteNote(note)" data-ng-hide="editing">Delete</button>
        <button type="button" class="btn btn-primary" data-ng-disabled="working"
                data-ng-click="updateNote(note)" data-ng-show="editing">Update</button>
        <button type="button" class="btn btn-warning note-right-align-btn" data-ng-disabled="disableCancel"
                data-ng-click="cancelEdit()" data-ng-show="editing">Cancel</button>
    </div>
</div>