<div>
    <div class="form-group row">
        <label for="userName" class="col-sm-3 control-label text-right">User Name</label>
        <div class="col-sm-6">
            <span id="userName" name="userName">{{ userInfo.userName }}</span>
        </div>
    </div>
    <div class="form-group row">
        <label for="email" class="col-sm-3 control-label text-right">Email</label>
        <div class="col-sm-6">
            <span id="email" name="email">{{ userInfo.email }}</span>
        </div>
    </div>
</div>