<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!-- Connection to local SQL instance -->
    <add name="ngPlayConnectionString" providerName="System.Data.SqlClient" connectionString="Server=localhost;Database=ngPlay;Trusted_Connection=True;" />
  </connectionStrings>
</configuration>