
.note-item.ng-leave {
    -webkit-transition: 0.5s linear all;
    -moz-transition: 0.5s linear all;
    -o-transition: 0.5s linear all;
    transition: 0.5s linear all;
}

.note-item.ng-leave {
    opacity: 0;
    height: 0;
    padding-top: 0;
    padding-bottom: 0;
}