<div class="glyph-heading">
    <span class="glyphicon glyphicon-list glyphicons-heading"></span>
    <h1>Notes</h1>
</div>

<div ng-controller="NotesController">
    <div data-ng-switch="notesLoaded || error" class="col-md-offset-2 col-md-8">
        <div data-ng-switch-when="false" class="alert alert-warning alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            Notes loading...
        </div>
    </div>

    <div data-ng-switch="error" class="col-md-offset-2 col-md-8">
        <div data-ng-switch-when="true" class="alert alert-danger">
            <strong>Error</strong> while loading notes!
        </div>
    </div>

    <div data-ng-show="notesLoaded">
        <ul data-ng-repeat="note in notes" class="col-md-offset-2 col-md-8">
            <div data-ap-note-directive data-note="note"></div>
        </ul>
    </div>
</div>
